<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udsp.sdc.icbc.dao.DeleteplateMapper">
  <!-- 
    This element was generated on 2018-03-28 16:17:03.
   -->
  <resultMap id="BaseResultMap" type="com.udsp.sdc.icbc.bean.Park">
    <id column="PARK_ID" jdbcType="VARCHAR" property="parkId" />
    <result column="PLATE" jdbcType="VARCHAR" property="plate" />
    <result column="CARD_ID" jdbcType="VARCHAR" property="cardId" />
    <result column="CAR" jdbcType="VARCHAR" property="car" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
  </resultMap>
   
   <update id="updateUserPlate" parameterType="com.udsp.sdc.icbc.bean.UserInfo">
    update park SET state='0'
    where PLATE = #{plate,jdbcType=VARCHAR}
  </update>

</mapper>